@CHARSET "UTF-8";
 
.ui-helper-reset{} 
.ui-menu-parent{} 
.ui-submenu-link{}
.ui-corner-all{} 
.ui-menuitem-icon{}  
.ui-icon{ } 
.ui-icon-triangle-1-s{} 
.ui-widget-content{}
.ui-menu-list{}  
.ui-helper-clearfix{} 
.ui-menu-child{}
.ui-shadow{}

.ui-widget{ } 
.ui-menuitem-link{} 

.ui-menu {
	background: #c5cbed -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
	padding: 0em;
}

.ui-column-title {
    font-size: 13px;
    font-family: Times;
}

.ui-state-default{} 
.ui-sortable-column{} 
.ui-filter-column{ }
.ui-resizable-column{ }
.ui-draggable{ }
.ui-draggable-handle{ }
.ui-droppable{ }




.ui-datatable thead th{ }
.ui-datatable tbody td{padding-left:3px;}
.ui-datatable tfoot td{padding-left:3px;}

 
.th {
  color:blue !important;
  font-size:11px;
}
   
  .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td {
    white-space: normal;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	
}

.ui-datatable .ui-column-filter{
	width:90%;
}

.ui-inputfield{
	padding:2px;
}
 
.ui-menuitem-text{ 
	color:#204a87!important;
  font-size:14px;
  font-bold:16px;	
}
.ui-menuitem{}


.ui-datatable-empty-message {
    display: ;
}

.ui-row-editor{
    display: inline;
}

.ui-paginator{ 
	
} 

.ui-paginator-top{ 
	
} 

 
 
 .ui-datatable-odd {
    background: #eeeeec ;
}


.ui-datatable-even {
    background:  #c5cbed -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
}

.urgente{
color:red;
}

.deuda{
color:red
	background: #fff000;
}

.ui-widget-header{ 
	background: #70b087 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	background: #fb7e22 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
} 
 
.estiloDataTable{
	text-align:left;font-size: 80% !important;
}

.ui-cell-editor-output{
	text-align:left;font-size: 80% !important;
}
 
.ui-datatable .ui-datatable-header {
	color:#ef2929!important;
  font-size:14px;
}  

.ui-calendar{
	
}
 
.preformatted {
    white-space: pre-wrap;
}